extends layout

block content
  h1= title

  form(id='HotelForm', action="/resource/Hotels", method="POST")
    div.form-group
        label.costumeAttr(for='roomType') Room Type
        input#costumetype(type='text', name='roomType')
    div.form-group
        label.costumeAttr(for='price') Hotel Price
        input#cost(type='number', name='price')
    div.form-group
        label.costumeAttr(for='location') Hotel Location
        input#size(type='text', name='location')

    input(type="submit")

  script.
    document.forms['HotelForm'].addEventListener('submit', (event) => {
      event.preventDefault();
      // TODO do something here to show user that form is being submitted
      fetch(event.target.action, {
        method: 'POST',
        body: new URLSearchParams(new FormData(event.target)) // event.target is the form
      }).then((resp) => {
          
        return resp.json(); // or resp.text() or whatever the server sends
      }).then((body) => {
        alert("Save succeded")
        // TODO handle body
      }).catch((error) => {
        // TODO handle error
        alert("Save failed " + error )
      });
    });